.Hangman {
  color: #333;
}

.Hangman img {
  border: 10px solid #dfdccb;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h2 {
  font-size: 3.5rem;
  font-weight: 3rem;
  margin-bottom: 0.1em;
  margin-top: 0;
  color: #377D71;
}

.Hangman-wrong {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

.Hangman-word {
  letter-spacing: .3em;
  font-size: 3rem;
}

.Hangman-btns {
  display: inline-block;
  width: 250px;

}

.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background-color: #E8AA42;
  color: #fff;
  box-shadow: 0 6px #FFE5B4;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  background-color: #FFE5B4;
}

.Hangman button:disabled {
  background-color: #EFEFEF;
  color: #D1D1D1;
  box-shadow: 0 6px #EFEFEF;
}

#restart {
  width: auto !important;
  display: block;
  margin: 0 auto;
  background-color: #810955;
  box-shadow: 0 6px #C689C6;
}

#restart:hover {
  background-color: #C689C6;
}

#restart:active {
  transform: scale(0.97);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
  height: 30rem;
}

@media screen and (max-width:768px) {
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .Hangman-wrong {
    margin-top: 0;
    color: red;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
  }

  .Hangman-word {
    letter-spacing: .3em;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }









}